/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calistoga', sans-serif;
    color: #e7e26b;
    margin: 0;
    padding: 0;
}

h2 {
    color: #36381f;
    text-transform: uppercase;    
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 10px;
}


/* Header */
header {
    background-color: #36381f;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

header p {
    font-size: 1.1em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
    color:#e7e26b;
}

/* Seção da foto do casal */
section#foto-casal {
    text-align: center;
    position: relative;
    margin-bottom: -5px;
}

section#foto-casal img {
    width: 100%;
}

section#foto-casal .overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    padding-top: 30%;
    width: 100%;
}

section#foto-casal .overlay h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

section#foto-casal .overlay p {
    font-size: 1.5em;
}

section#história, section#noiva  {
    background-color: #faf2e9;
    padding: 20px;
    text-align: center;
}

div#curiosidades {
margin: 0 25px;
}

section#noiva > div.container-foto {
    flex-direction: row-reverse;
}

/* Container principal */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Estilo para a nova seção com fundo, largura e bordas arredondadas */
.container-custom {
    background-color: #36381f;
    width: 80%;
    margin: 20px auto;
    padding: 50px 30px;
    border-radius: 20px;
    text-align: center;
    line-height: 1.6;
    color: #e7e26b;
}
.container-custom h2 {
    color: #e7e26b;
    text-transform: uppercase;    
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.container-custom p {
    margin-bottom: 10px;
}

/* Layout da foto e curiosidades em duas colunas */
.container-foto {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 20px auto;
    gap: 20px;
    text-align: center; /* Centraliza o texto */
}

.container-foto img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    flex: 1 1 100%;
    padding: 10px; /* Adiciona padding */
    margin: 0 auto; /* Centraliza a imagem */
}

.container-texto {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    text-align: center; /* Centraliza o texto */
    justify-content: center;
}

.container-texto p {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center; /* Centraliza o texto */
}

/* Media queries para responsividade */
@media (min-width: 768px) {
    .container-foto {
        flex-wrap: nowrap;
    }

    .container-foto img,
    .container-texto {
        flex: 1 1 50%;
    }
}

/* Footer */
.footer {
    background-color: #36381f;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}

.footer p {
    margin: 5px;
}